{% extends "base.html" %}
{% block title %} Food cart {% endblock %}

{% block content %}
    <p><b>Order</b>: #<u>{{ order_number }}</u></p><hr>

    <p>Please remember to save this page via the save button or print this page.</p>

    <table border = "1px solid black" width = '600px' style = "text-align : center">
        <tr>
            <th><p>Food name</p></th>
            <th>Food quantity</th>
            <th>Food price</th>
        </tr>

        {% for food_name in food_cart_dict %}
            {% set price_and_quantity_list = food_cart_dict.get(food_name) %}
            {% set food_price = price_and_quantity_list[0] %}
            {% set food_quantity = price_and_quantity_list[1] %}

            <tr>
                <td><p>{{ food_name }}</p></td>
                <td>x {{ food_quantity }}</td>
                <td>${{ "%.2f"|format(food_price) }}</td>
            </tr>
        {% endfor %}
        
        {% set total_quantity = total_quantity_and_price_list[0] %}
        {% set total_price = total_quantity_and_price_list[1] %}
        
        <tr>
            <td><p><u>Total</u></p></td>
            <td>x {{ total_quantity }}</td>
            <td>$<u>{{ "%.2f"|format(total_price) }}</u></td>
        </tr>
    </table>
    <br><hr>

    <p>Thank you for ordering from SPAM.<br>Please pay a total of $<u>{{ "%.2f"|format(total_price) }}</u></p>

    <form action = "/order/save" method = "POST">
        <input type = 'submit' name = "{{ order_number }}" value = "Save Order #{{ order_number }}">
    </form>
{% endblock %}