{% extends "base.html" %}
{% block title %} {{ day_of_the_week }}'s Menu {% endblock %}

{% block content %}
    <p>Food menu for ({{ day_of_the_week}}).</p>
    <table border = "1px solid black" width = '500px' style = "text-align : center">
    <tr>
        <th colspan = "2">Food Name</th>
        <th>Food Price</th>
    </tr>

    {% for food_name in food_menu_dict %}
        <tr>
            <td><p><b>{{ loop.index }}</b></p></td> 
            <td><p>{{ food_name }}</p></td>
            <td><p>${{ "%.2f" | format(food_menu_dict.get(food_name)) }}</p></td>
        </tr>
    {% endfor %}  
    </table>

    {% if day_of_the_week == current_day %}
        <p>Click <a href='/order/form'><b>HERE</b></a> to order food.</p>

    {% else %}
        <br>
    {% endif %}

    <a href = "/">Back to Main Menu</a>
{% endblock %}