{% extends "base.html" %}
{% block title %} {{ day_of_the_week }}'s Menu {% endblock %}

{% block content %}
    <p>Food menu for ({{ day_of_the_week}}).</p>
    <table border = "1px solid black" width = '500px' style = "text-align : center">
    <tr>
        <th>Index</td>
        <th>Food Name</td>
        <th>Food Price</td>
    </tr>

    {% for food_name in food_data %}
        <tr>
            <td><p>{{ loop.index }}</p></td> 
            <td><p>{{ food_name }}</p></td>
            <td><p>${{ "%.2f"|format(food_data[food_name]) }}</p></td>
        </tr>
    {% endfor %}  
    </table>

    <br>
    <a href="http://localhost:5000">Back to Main Menu</a>
{% endblock %}