{% extends "base.html" %}

{% block title %} Download folder {% endblock %}

{% block content %}
    <p><u>Directory Listing</u></p>

    <form action = '/download' method = "POST">
        <table border = "1px solid black" width = '350px' style = "text-align : center">

            {% for file in files_in_directory %}
                <tr>
                    <td><p>{{ file }}</p></td>
                    <td><input type = 'submit' name = "{{ file }}" value = "Download"><br></td>
                </tr>
            {% endfor %}

        </table>
    </form>

    <p><b>{{ number_of_files }}</b> file(s) Found.</p>
    <p>Click <a href = '/user'>Main Menu</p>
{% endblock %}