{% extends "base.html" %}

{% block title %} {{ day_of_the_week }}'s Menu {% endblock %}

{% block head %}<script type = "text/javascript" src = "{{ url_for('static', filename = 'edit.js') }}"></script>{% endblock %}

{% block content %}
    <h3>{{ day_of_the_week }}'s Menu</h3>

    <table border = "1px solid black" width = '500px' style = "text-align : center">
        <tr>
            <th colspan = "2">Food Name</th>
            <th>Food Price</th>
            <th>Edit</th>
        </tr>

        {% for food_name in food_menu_dict %}
            <tr>
                {% set food_price = "%.2f" | format(food_menu_dict.get(food_name)) %}

                <td><p><b>{{ loop.index }}</b></p></td>
                <td><p>{{ food_name }}</p></td>
                <td><p>${{ food_price }}</p></td>
                <td><p><button type = "button" onclick = 'populate_food_name_and_food_price("{{ day_of_the_week }}", "{{ food_name }}", "{{ food_price }}")'>Edit</button></p></td>
            </tr>
        {% endfor %}
    </table><br>

    <form action = "/admin/save" method = "POST">
        <table width = '500px' style = "text-align: center">
            <tr>
                <td> 
                    <label for = "day_of_the_week_text_box">Day :</label>
                </td>

                <td>
                    <input type = "text" name = "day_of_the_week" id = "day_of_the_week_text_box" value = "{{ day_of_the_week }}" readonly>
                </td>
            </tr>

            <tr>
                <td>
                    <label for = "old_food_name_text_box">Old Food Name :</label>
                </td>

                <td>
                    <input type = "text" name = "old_food_name" id = "old_food_name_text_box" readonly>
                </td>
            </tr>

            <tr>
                <td>
                    <label for = "old_food_price_text_box">Old Food Price :</label>
                </td>

                <td>
                    <input type = "number" name = "old_food_price" id = "old_food_price_num_box" readonly>
                </td>
            </tr>

            <tr>
                <td>
                    <label for = "new_food_name_text_box">New Food Name :</label>
                </td>
                
                <td>
                    <input type = "text" name = "new_food_name" id = "new_food_name_text_box">
                </td>
            </tr>
        
            <tr>
                <td>
                    <label for = "new_food_price_num_box">New Food Price($) :</label>
                </td>
                
                <td>
                    <input type = "number" name = "new_food_price" id = "new_food_price_num_box" step = "0.05">
                </td>
            </tr>

            <tr>
                <td colspan = "2">
                    <p><button type = "submit" id = "btn_save_changes">Save Changes</button></p>
                </td>
            </tr>

            <tr>
                <td>
                    <a href = '/admin'>Back to Main Menu</a>
                </td>
            </tr>
        </table>
    </form>

    {% if message | length %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}