{% extends "base.html" %}
{% block title %} Welcome Page {% endblock %}

{% block content %}
    <h3>Welcome to SPAM&trade;</h3>
    <p>Welcome <i>{{ username }}</i>!</p>

    <table border="1px solid black" width='300px' style="text-align : center">
        <p>Food of the Day:</p>
        <tr>
            <td>
                <p><a href='/user/view/{{ current_day }}'>{{ current_day }}</a></p>
                <p><a href='/order/form'>Click Here</a> to order food.</p>
            </td>
        </tr>
    </table>

    <p><a href='/download'>Click Here</a> to browse the download folder.</p><hr>

    <table border = "1px solid black" width = '300px' style = "text-align : center">     
        <p><b>View</b> food for the other days:</p>

        {% for day_of_the_week in weekdays %}
            {% if day_of_the_week != current_day %}
                <tr>
                    <td>
                        <p><a href = '/user/view/{{ day_of_the_week }}'>{{ day_of_the_week }}</a></p>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <form action = "/logout" method = "POST">
        <p><button type = "submit">Logout {{ username }}</button></p>
    </form>
{% endblock %}