{% extends "base.html" %}

{% block title %} Order #{{ order_number }} {% endblock %}

{% block content %}
    <p>To download order #<b>{{ order_number }}</b>, click on the <b>Download File</b> button.</p>
    
    <form method = "POST" action = '/download'>
        <input type = 'submit' name = "{{ order_number }}.txt" value = "Download File">
    </form><hr>

    <p>Alternative, you may choose to <a href = '/download'><b>CLICK HERE</b></a> to go to the Downloads Folder.</p>
    <p>Click <a href = '/user'>Main Menu</p> 
{% endblock %}